.container{
    width: 1000px;
    height: 630px;
    background-color: silver;
    margin: 0px auto;
    padding-top: 15px;
}
.top-nav {
    height: 150px;
    width: 920px;
    background-color: green;
    margin: 20px;
}
.side-nav {
    height: 320px;
    width: 200px;
    background-color: blue;
    margin: 0 10px 0 20px;
    vertical-align: top;
    display: inline-block;


}
.main {
    height: 390px;
    width: 690px;
    background-color: red;
    margin-left: 5px;
    padding: 5px;
    display: inline-block;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin: 5px;
    display: inline-block;
    
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin: 5px;
    display: inline-block;
}

